<p>Planen er at folk skal kunne laste opp bilder fra turen.</p>
<hr />
<p>
  Det skal listes to og to bilder i bredden som man skal kunne skrolle nedover
  for
</p>
<p>
  Hvert bilde vises med profilen som har lastet det opp nederst til høyre i en
  mindre boble
</p>

<hr />

<p>
  Trykker man på bildet så får man opp ett større view av bildet der nederst så
  er det hvem har lastet det opp. Når er det lastet opp. Nedlastnings knapp.
</p>

<p>
  Lage en egen tabell som linker til en ny storage som holder på alle bildene.
</p>

<hr />
<p>
  Kan hende det burde settes en maks antall bilder per bruker sånn at det ikke
  spammes. Kan denne kanskje settes høy til for eksempel 100 bilder?
</p>
