<h2 class="challenges-title">🎯 Challenge</h2>

<section class="challenges-container">
    <button class="challenge-button" (click)="setRandomChallenge()">
        🎲 Trykk for å få en utfordring!
    </button>
    <div class="challenge-card">
        <p>{{ currentDisplayedChallenge }}</p>
    </div>
</section>

<hr>

<div class="rules-box">
    <p>Hver gang en spiller får <strong>bogey</strong>... må det trykkes på <em>🎲 "Få en utfordring"</em> før neste
        hull!</p>
    <p>Challenge'n gjelder for hele neste hull – f.eks. bogey på hull 10 → challenge på hull 11!</p>
    <p class="rules-warning">NEKTER ELLER GLEMMER DU Å UTFØRE CHALLENGE = +1 STRAFFEKAST PÅ TOTALEN! 😱</p>
</div>